* text=auto !eol
PriorityQWorkshopNative/.cproject -text svneol=unset#text/plain
PriorityQWorkshopNative/.project -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/GrainedLockSprayListPriorityQueue.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/GrainedLockSprayListPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/IPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/NaiveLockSprayListPriorityQueue.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/NaiveLockSprayListPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/SprayListNode.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/SprayListPriorityQueue.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/SprayListPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/GlobalLockSprayListPriorityQueue.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/GlobalLockSprayListPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/IPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/LazyLockSparyListPriorityQueue.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/LazyLockSparyListPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/SeqSprayListPriorityQueue.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/SeqSprayListPriorityQueue.h -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/serviceClass.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/PriorityQueue/news/serviceClass.h -text svneol=unset#text/plain
PriorityQWorkshopNative/Test/StopWatch.h -text
PriorityQWorkshopNative/Test/Workers.h -text
PriorityQWorkshopNative/framework/cpp_framework.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/cpp_framework.h -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/ia64_defns.h -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/intel64_defns.h -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/intel_defns.h -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/portable_defns.h -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/sparc64_defns.h -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/sparc_defns.h -text svneol=unset#text/plain
PriorityQWorkshopNative/framework/sparc_mcas.il -text
PriorityQWorkshopNative/framework/win_defns.h -text svneol=unset#text/plain
PriorityQWorkshopNative/makefile -text
PriorityQWorkshopNative/mytest.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/util/ThreadRandom.cpp -text svneol=unset#text/plain
PriorityQWorkshopNative/util/ThreadRandom.h -text svneol=unset#text/plain
